<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Disimpegno Ordini/Preordini</h4>
</div>
<div class="modal-body" id="dialog_disimpegna_ordini_preordini">
    <div class="panel panel-primary" ng-if="entity.hasOwnProperty('allTableData')">
        <div class="panel-heading">
            <span class="label label-primary intestazione-tabella">Impegni articolo presenti</span>
        </div>
        <div class="panel-body search-params">

                <div
                    ui-grid="grigliaImpegniPresenti"
                    ui-grid-auto-resize
                    ui-grid-resize-columns
                    ui-grid-selection
                    ng-style="getTableHeightImpPres(grigliaImpegniPresenti.data)"
                    class="myGrid">
                </div>

            <br>
        </div>
    </div>
    <div class="form-group cambia-button">
        <button class="btn btn-warning" ng-click="cambiaArticolo()">
            <i class="fa fa-exchange" aria-hidden="true"></i> Cambia
        </button>
        <button class="btn btn-danger" ng-click="dataReset()">
            <i class="fa fa-repeat" aria-hidden="true"></i> Reset
        </button>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="label label-primary intestazione-tabella">Si stanno per modificare i seguenti ordini/preordini</span>
        </div>
        <div class="panel-body search-params">
            <div
                ui-grid="grigliaOrdini"
                ui-grid-expandable
                ui-grid-auto-resize
                ui-grid-resize-columns
                ui-grid-selection
                ng-style="getTableHeightModOrd(grigliaOrdini.data)"
                class="myGrid">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="modificaOrdiniDaFabb()">Modifica Ordini</button>
</div>


