legend {
	font:Times New Roman, serif;
	font-style: italic;
	font-weight: bold;
}

td.details {
    background-color: #FFFFCC;
    border: 2px solid #A19B9E;
    text-align: center;
}

.btn_ricerca {
    background-image: url("../../../img/search.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

#btn_nuovo {
    background-image: url("../../../img/add.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

#btn_close {
    background-image: url("") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


#btn_prosegui {
    background-image: url("../../../img/forward.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_visualizza {
    background-color: transparent !important;
    background-image: url("../../../img/look_document.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_image {
    background-color: transparent !important;
    background-image: url("../../../img/image.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_info {
    background-color: transparent !important;
    background-image: url("../../../img/information.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


.btn_table {
    background-color: transparent !important;
    background-image: url("../../../img/tables.gif") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


.btn_importa {
    background-color: transparent !important;
    background-image: url("../../../img/arrow_down.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_crea {
    background-color: transparent !important;
    background-image: url("../../../img/forward.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


.btn_back {
 	 background-color: transparent !important;
    background-image: url("../../../img/back.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}   
   
   
.btn_salva {
    background-image: url("../../../img/save.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
}   

.btn_stampa {
    background-image: url("../../../img/pdf.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
} 
     
.btn_elimina {
    background-image: url("../../../img/delete.png") !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
}   
  
  
.btn {      
    background-image: none !important;
    background-repeat: no-repeat !important;
    cursor: pointer !important;
    height: 22px !important;
    margin: 2px !important;
    vertical-align: top !important;
    font-weight: normal;
}        
   
.ui-helper-hidden-accessible { 
	display:none; 
}

.ui-autocomplete {
    cursor: default;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.ui-autocomplete-loading { background: url("../../../img/progress.gif") no-repeat right center; }



.hc_dt {
    background: none repeat scroll 0 0 #E2E4FF;
    border: 1px solid gray;
    color: black;
    font-weight: bold;
    padding-left: 2px;
    text-align: center;
}


.btn_duplica {
    background-color: transparent !important;
    background-image: url("../../../img/duplicate.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_save {
    background-color: transparent !important;
    background-image: url("../../../img/save.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_apri{
    background-color: transparent !important;
    background-image: url("../../../img/edit.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_add{
    background-color: transparent !important;
    background-image: url("../../../img/facon/pao/icons/add.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_pdf{
    background-color: transparent !important;
    background-image: url("../../../img/pdf.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_delete{
    background-color: transparent !important;
    background-image: url("../../../img/delete.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_invia {
    background-color: transparent !important;
    background-image: url("../../../img/check.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}

.btn_cerca {
    background-color: transparent !important;
    background-image: url("../../../img/search.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


.btn_giacenza {
    background-color: transparent !important;
    background-image: url("../../../img/lorry_go.png") !important;
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


.btn_detail {
    background-color: transparent !important;
    background-image: url("../../../img/plus.gif");
    background-repeat: no-repeat !important;
    border: 1px none black !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px !important;
    vertical-align: top !important;
}


#overlay {
    background: none repeat scroll 0 0 #CDC8B1;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

#loading_box
{
	position:absolute;
	width:400px;
	height:100px;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-200px;
	padding-top:10px;
	background:white;
	border:solid 2px #c9d7f1;
	box-shadow:1px 0px 5px #CCC;
	-moz-box-shadow:1px 0px 5px #CCC;
	-webkit-box-shadow:1px 0px 5px #CCC;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	z-index: 101;
}

.hidden_lbl {
    font-weight: bold;
    text-align: left;
    display: none;
}


.il_readonly {
    padding: 2px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #7F9DB9;
} 

.il_err {
    border: 1px solid red;
    padding: 2px;
    text-align: left;
} 


.th_pz {
	text-align: left;
	vertical-align: top;
	padding: 5px;
	border: 1px solid  #BBBBBB;
	height: 24px;
}
	
.td_pz {
	text-align: left;
	vertical-align: top;
	padding: 5px;
	border: 1px solid  #BBBBBB;
	height: 24px;
}