/*
* — fix per modal size —
*/
.modal-max-size {
    width: 1200px;
}

.area-ricerca-buttons{
    text-align: center;
}

.area-ricerca-buttons button{
    margin-left: 10%!important;
}

/*
* — fix per nascondere bottone expand all —
*/
.ui-grid-header-cell-wrapper .ui-grid-expandable-buttons-cell{
    display: none;
}

/*
* — fix per input cella tabella —
*/
div.ui-grid-cell input {
    text-overflow: ellipsis;
    padding-left: 5px;
}

.search-area .form-group{
    max-height: 50px;
}

.data-custom-input{
    display: flex;
}

/*
* — classe per colore label progress bar —
*/
.progress-low-values-class{
    color: black;
}

/*
* — fix per altezza tabella —
*/
.myGrid {
    height: 600px;
}

.ui-grid, .ui-grid-viewport {
  height: auto !important;
}
/*
.ui-grid-render-container-body .ui-grid-canvas {
    height: auto!important;
}

.ui-grid-render-container-left .ui-grid-canvas {
    height: auto!important;
}

.ui-grid-viewport{
    overflow-anchor: none;
}
/*
.ui-grid, .ui-grid-viewport {
  height: auto !important;
}
/*
/*
* — fix per disallineamento selez./ tabella —
*/
.ui-grid-canvas {
    padding-top: 0px;
}

.capocmat-label {
    min-width: 50px;
    border-right: 0;
    padding: 9px 5px;
}

.capocmat-input-fix {
    border-right-style: hidden;
}

.fixed-table-container{
    overflow-y: auto;
}

.reset-ricerca-button {
    color: #d43f3a;
    background-color: #fff;
}

.ricerca-button {
    color: #2e6da4;
    background-color: #fff;
}

.multiselect-classe .dropdown-menu{
    max-height: 200px;
}

.ngTagsInput input::-ms-clear {
    display: none;
}

tags-input .host {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

tags-input .tags {
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    max-height: 34px;
    overflow: hidden;
}