/*
* — Stile bottoni azioni principali —
*/

.area-action-buttons {
    text-align: center;
}

.area-action-buttons button {
    margin-left: 20px;
}

.ui-grid-category {
  text-align: center;border-right: 0px;box-shadow: -1px 1px #d4d4d4
}

.tabella-sottostante {
    margin-top: 2%;

}

.table-warning-class {
    color: #337ab7;
    font-weight: bold;
}

.cell-warning-class {
    border: 2px solid orange !important;
}

.cell-changed-class {
    border: 2px solid #2196F3 !important;
}

/*
* — fix per input cella tabella —
*/
div.ui-grid-cell input {
    text-overflow: ellipsis;
    padding-left: 5px;
}

/*
* — fix per disallineamento selez. tabella e scorrim infinito —
*/


.ui-grid-render-container-body .ui-grid-canvas {
    height: auto!important;
}

.ui-grid-render-container-left .ui-grid-canvas {
    height: auto!important;
}

.ui-grid-viewport{
    overflow-anchor: none;
}
.ui-grid-canvas {
    padding-top: 0px;
}

/*
* — fix per modal size —
*/
.modal-max-size {
    width: 1200px;
}

/*
* — fix per popover style —
*/
.popover-fornitore {
    max-width: 800px;
    width: 800px;
    min-height: 300px;
}

.popover-duplica{
    max-height: 80px;
    font-size: small;
}

.popover-duplica .popover-title{
    font-size: small;
}

.button-popover-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 8px;
}

.impegni-panel-title {
    min-height: 50px;
    overflow: auto;
}

.impegni-panel-title h3 {
    width: 85%;
    font-size: large;
}

.impegni-panel-title .contenitore-bottoni{
    text-align: right;
    width: 15%;
}

/*
* — fix per dropdown tabella—
*/
[template-url="customTemplateColori.html"]{
    max-height: 300px;
    overflow: auto;
}

/*
* — colori righe tabelle—
*/
.bianco {
    background-color: white ! important;
}

.grigio_default {
    background-color: #f3f3f3 ! important;
}

/*
* — css fix per selezione righe popup disimpegna ordini/preordini—
*/

#dialog_disimpegna_ordini_preordini .ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell,
#dialog_disimpegna_ordini_preordini .ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #c9dde1 !important;
}

#dialog_disimpegna_ordini_preordini .ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell.ui-grid-cell-focus,
#dialog_disimpegna_ordini_preordini .ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell.ui-grid-cell-focus {
  outline: 0;
  background-color: #c9dde1 !important;
}

#dialog_disimpegna_ordini_preordini.ui-grid-row-selected.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
#dialog_disimpegna_ordini_preordini.ui-grid-row-selected.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: #c9dde1 !important;
}

/*
* — css per stile tabelle ordini/preordini—
*/

.intestazione-tabella {
    font-size: small;
}

.cambia-button {
    text-align: center;
}

.cambia-button button{
    margin-left: 10px;
}

.giallo_outlet_prog {
    background-color: #fdffd6 ! important;
}

.grigio_default {
        background-color: #f3f3f3 ! important;
}

/*
* — css per stile cella riford—
*/

.riford-pointer {
    cursor: pointer;
    font-weight: bold;
}

/*
* — css per stile cella Scorta sede—
*/

.table-scorta-sede-class {
    color: #d9534f;
    font-weight: bold;
}

.ui-grid-header-cell-wrapper .ui-grid-selection-row-header-buttons {
    display:none;
}

/*
* — css per reset input di ricerca—
*/
.reset-ricerca-button {
    color: #d43f3a;
    background-color: #fff;
}

.ricerca-button {
    color: #2e6da4;
    background-color: #fff;
}

.uib-datepicker-popup {
    visibility: hidden;
    overflow: visible;
    z-index: 1050;
}

.ord-column {
    background-color: #F9FBE7 !important;
}

.soc-column {
    background-color: #E8F5E9 !important;
}

.dt-column {
    background-color: #E0F7FA !important;
}

.ord-column-header {
    color: #FFAB00 !important;
}

.soc-column-header {
    color: #33691E !important;
}

.dt-column-header {
    color: #01579B !important;
}

.center-column-text {
    text-align: center;
}

.red-flag-bozza {
    color: #d9534f;
}

.tot-fabb-custom-style {
    font-weight: bolder;
    color: #d9534f;
}

.par-fabb-custom-style {
    font-weight: 900;
}

div[role="tab"].panel-heading {
    min-height: 50px;
    overflow: auto;
}