@media (min-width: 992px){
    .contenitore-filtro-piccolo {
        width: 6% !important;
    }
}
@media (min-width: 992px){
    .contenitore-filtro-piccolo-button {
        width: 5% !important;
    }
}
/*
* — fix per altezza tabella —
*/
.myGrid {
    height: 600px;
}

/*
* — fix per disallineamento selez. tabella e scorrim infinito —
*/


.ui-grid-render-container-body .ui-grid-canvas {
    height: auto!important;
}

.ui-grid-render-container-left .ui-grid-canvas {
    height: auto!important;
}

.ui-grid-viewport{
    overflow-anchor: none;
}
.ui-grid-canvas {
    padding-top: 0px;
}

/*
* — fix per popover e filtro tabella—
*/

.popover {
    max-width: 500px;
    width: 500px;
    height: 94px;
    font-size: smaller;
}

#filtroTabella {
    margin: 5px;
    width: 20%;
    position: absolute;
    right: 0;
}

/*
* — colori righe tabella—
*/

.bianco {
        background-color: white ! important;
}

.grigio_default {
        background-color: #f3f3f3 ! important;
}


/*
* — css bottoni area ricerca—
*/
.area-ricerca-buttons{
    text-align: center;
}

.area-ricerca-buttons input{
    width: 10%!important;
    display: inline-block;
}

.area-ricerca-buttons button{
    margin-left: 15px;
}

.action-buttons-container{
    margin-bottom: 0px;
}

/*
* — css fix per selezione righe—
*/

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #c9dde1 !important;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd) .ui-grid-cell.ui-grid-cell-focus,
.ui-grid-row-selected.ui-grid-row:nth-child(even) .ui-grid-cell.ui-grid-cell-focus {
  outline: 0;
  background-color: #c9dde1 !important;
}

.ui-grid-row-selected.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row-selected.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: #c9dde1 !important;
}

/*
* — css stile bottone reset ricerca—
*/
.reset-ricerca-button {
    color: #d43f3a;
    background-color: #fff;
}

/*
* — css per stile cella riford—
*/

.riford-pointer {
    cursor: pointer;
    font-weight: bold;
}

.riford-normal {
    cursor: auto;
    font-weight: normal;
}

.multiselect-classe .dropdown-menu{
    max-height: 200px;
}

.search-diba-input {
    position: absolute;
    right: 3px;
    top: 3px;
    max-height: 30px;
    max-width: 15%;
    min-width: 150px;
    z-index: 10;
}

.action-button-filtri {
    max-width: 3%!important;
    margin-left: 4px;
    padding: 0px;
}

.btn-estrai-diba{
    background-color: whitesmoke;
    border-color: gray !important;
}

.btn-estrai-diba:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: lightgray;
}

.ngTagsInput input::-ms-clear {
    display: none;
}

tags-input .host {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

tags-input .tags {
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    max-height: 34px;
    overflow: hidden;
}

.ricerca-button {
    color: #2e6da4;
    background-color: #fff;
}

/*
* — fix per dropdown tabella—
*/
.search-params .dropdown-menu{
    max-height: 200px;
    max-width: 600px;
    overflow: auto;
}

.select-all-articles-selected {
    opacity: 0.1;
}