<div ng-controller="GestioneImpegniCtrl as GICtrl">
    <div class="form-group col-md-12 area-action-buttons" ng-if="!loadingTables">
            <button class="btn btn-danger" ng-click="apriDialogDisimpegnaArticoli()" ng-if="false">
                <i class="fa fa-unlock-alt"></i> Disimpegna
            </button>
            <button class="btn btn-info"
               ng-if="!confirmImpegnaMulti"
               ng-click="impegnaMultiArticolo()"
               tooltip-placement="left">
                <i class="fa fa-lock"></i> Impegna
            </button>
            <button  class="btn btn-info"
                ng-if="confirmImpegnaMulti"
                action="impegnaMultiArticolo()"
                rel="{{confirmImpegnaMulti}}"
                confirm>
                <i class="fa fa-lock"></i> Impegna
            </button>
            <button class="btn btn-warning" ng-click="apriDialogCreaOrdini()">
                <i class="glyphicon glyphicon-pushpin"></i> Crea Ordine
            </button>
    </div>
    <div class="col-sm-12"
        ng-init="loadingTables = true">
        <!--infinite-scroll='addTable()'-->
        <!--infinite-scroll-disabled="addTableDisabled"-->
        <!--infinite-scroll-use-document-bottom="true"-->
        <!--infinite-scroll-immediate-check="false">-->
        <div class="col-sm-12" ng-repeat="obj in dataTabelleList track by obj.unique_id" ng-if="!loadingTables">
            <div class="panel panel-primary">
                <div class="panel-heading impegni-panel-title">
                    <h3 class="panel-title pull-left">
                        <a class="btn btn-sm btn-default"
                            ng-click="obj.giacenza.isVisibleOnStart = !obj.giacenza.isVisibleOnStart; obj.giacenza.isVisibleOnStart && obj.fabbList.selectedIndexes.length > 0 && initTableSelections(obj.unique_id, obj.fabbList.selectedIndexes)"
                            ng-attr-uib-tooltip="{{obj.giacenza.isVisibleOnStart ? 'Nascondi' : 'Espandi'}}" tooltip-placement="right">
                            <i ng-class="obj.giacenza.isVisibleOnStart ? 'fa fa-minus' : 'fa fa-plus'" style="color:black"></i>

                        </a>
                        <span class="label label-primary">SOC:            {{obj.giacenza.diba.societa}}</span>
                        <span class="label label-primary">GM:             {{obj.giacenza.diba.gm}}</span>
                        <span class="label label-primary">AS:             {{obj.giacenza.diba.anno_stagione}}</span>
                        <span class="label label-primary">ART:            {{obj.giacenza.diba.articolo}}</span>
                        <span class="label label-primary">MIS:            {{obj.giacenza.diba.misura}}</span>
                        <span class="label label-primary">COL:            {{obj.giacenza.diba.colore}}</span>
                        <span class="label label-primary">MACROCOL:       {{obj.giacenza.diba.macrocolore}}</span>
                        <span class="label label-primary">ART FORNITORE:  {{obj.giacenza.diba.articolo_fornitore}}</span>
                        <span class="label label-primary">DESCRIZIONE:    {{obj.giacenza.diba.descrizione}}</span>
                    </h3>
                    <div class="pull-right contenitore-bottoni">
                        <a class="btn btn-sm btn-danger"
                            ng-click="apriDialogDisimpegnaArticoliPannello()"
                            uib-tooltip="Disimpegna" tooltip-placement="left">
                            <i class="fa fa-unlock-alt"></i>
                        </a>
                        <a class="btn btn-sm btn-info"
                            ng-if="!obj.giacenza.confirmImpegni"
                            ng-click="impegnaMultiArticoloPannello()"
                            uib-tooltip="Impegna" tooltip-placement="left">
                            <i class="fa fa-lock"></i>
                        </a>
                        <a  class="btn btn-sm btn-info"
                            ng-if="obj.giacenza.confirmImpegni"
                            action="impegnaMultiArticoloPannello()"
                            rel="{{obj.giacenza.confirmImpegni}}"
                            uib-tooltip="Impegna" tooltip-placement="left"
                            confirm>
                            <i class="fa fa-lock"></i>
                        </a>
                        <a class="btn btn-sm btn-warning" ng-click="apriDialogCreaOrdiniPannello()" uib-tooltip="Crea Ordini" tooltip-placement="left">
                            <i class="glyphicon glyphicon-pushpin"></i>
                        </a>
                    </div>
                </div>
                <!--</uib-accordion-heading>-->

                <div class="panel-body search-params" ng-if="obj.giacenza.isVisibleOnStart">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="grid mainGrid" id="{{'grid'+$index}}" ui-grid="obj.giacenza" ng-style="getTableHeight({{obj.giacenza.data}})"
                                ui-grid-auto-resize
                                ui-grid-resize-columns
                                ui-grid-edit
                            >
                           </div>
                        </div>
                    </div>

                    <div class="tabella-sottostante container-fluid">

                        <div class="row">
                            <div class="grid secondGrid" id="{{'sottogrid'+$index}}" ui-grid="obj.fabbList" ng-style="getTableHeight({{obj.fabbList.data}})"
                                ui-grid-auto-resize
                                ui-grid-resize-columns
                                ui-grid-selection
                            >
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="loadingTables">
              <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
            </div>
        </div>
    </div>
</div>
