<div class="panel panel-default" ng-controller="StudioDibaResearchCtrl as ctrl">
    <div class="panel-heading">
        <h3 class="panel-title">Area di ricerca</h3>
    </div>
    <div class="panel-body search-params">
        <div class="row">
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label for="classe_orig">Classe</label>
                <multiselect id="classe_orig" class="multiselect-classe" ng-model="ctrl.classe_orig"
                     options="classeOptions"
                     show-search="true">
                </multiselect>
            </div>
            <div class="form-group col-md-1">
                <label for="modello">Modello</label>
                <input type="text" ng-model="ctrl.modello" id="modello"
                       class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-1">
                <label for="nome_modello">Nome</label>
                <input type="text" ng-model="ctrl.nome_modello" id="nome_modello"
                       class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label for="variante">Variante</label>
                <input type="text" ng-model="ctrl.variante" id="variante"
                       class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label class="control-label">Società</label>
                <select class="form-control" id="processo" name="societa" ng-model="ctrl.societa">
                    <option ng-repeat="ui_as in ctrl.lista_societa" value="{{ ui_as.id }}">
                    {{ ui_as.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label for="fam_gm">Fam GM</label>
                <input type="text" ng-model="ctrl.fam_gm" id="fam_gm"
                    class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label for="gm">GM</label>
                <input type="text" ng-model="ctrl.gm" id="gm"
                    class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label for="articolo">Articolo</label>
                <input type="text" ng-model="ctrl.articolo" id="articolo"
                    class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label for="colore">Colore</label>
                <input type="text" ng-model="ctrl.colore" id="colore"
                    class="form-control" ng-enter="ctrl.cercaClick()">
            </div>
            <div class="form-group col-md-2">
                <label for="articolo">Art. Tessuto</label>
                <!--<tags-input type="text" ng-model="gfARctrl.articolo" id="articolo" ng-enter="gfARctrl.cercaClick()">-->
                <!--</tags-input>-->
                <tags-input class="bootstrap" ng-model="ctrl.art_princ"
                            placeholder="Art. separati da virgola"
                            add-on-enter="false"
                            add-on-space="true"
                            ng-enter="ctrl.cercaClick()"
                            replace-spaces-with-dashes="false">
                </tags-input>
            </div>
            <!--<div class="form-group col-md-2">-->
                <!--<label for="colore">Art. Tessuto</label>-->
                <!--<input type="text" ng-model="ctrl.art_princ" id="art_princ"-->
                    <!--class="form-control" ng-enter="ctrl.cercaClick()">-->
            <!--</div>-->
            <div class="form-group col-md-1">
                <label for="collezione">Collez. Orig.</label>
                <script type="text/ng-template" id="customTemplateCollezioneOrig.html">
                    <a>
                        <span ng-bind-html="match.model.descrizione | uibTypeaheadHighlight:query"></span>
                    </a>
                </script>
                <input type="text" ng-model="ctrl.collezione" id="collezione" name="collezione"
                       uib-typeahead="collezione as collezione.value for collezione in getCollezioneOrig($viewValue)"
                       typeahead-loading="loadingCollezione"
                       class="form-control"
                       typeahead-min-length="0"
                       typeahead-wait-ms="300"
                       typeahead-on-select="onSelectCollezioneOrig($item, $model, $label)"
                       typeahead-template-url="customTemplateCollezioneOrig.html"/>
                <i ng-show="loadingCollezione" class="fa fa-refresh"></i>
            </div>
            <div class="form-group col-md-1 contenitore-filtro-piccolo">
                <label class="control-label">Stato</label>
                <select class="form-control" id="stato" name="stato" ng-model="ctrl.stato">
                    <option ng-repeat="ui_as in ctrl.lista_stati" value="{{ ui_as.value }}">
                    {{ ui_as.label }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label class="control-label">Avanzamento</label>
                <select class="form-control" id="avanzamento" name="avanzamento" ng-model="ctrl.avanzamento">
                    <option ng-repeat="ui_as in ctrl.lista_avanzamenti" value="{{ ui_as.id }}">
                    {{ ui_as.name }}
                    </option>
                </select>
            </div>
            <div class="col-md-12 area-ricerca-buttons">
                <hr>
                <div class="col-md-6">
                    <div class="form-group action-buttons-container">
                        <button id="cercaButton" class="btn btn-primary ricerca-button"
                                ng-click="ctrl.cercaClick()"><i class="fa fa-search"></i> Fitra
                        </button>
                        <button class="btn btn-danger reset-ricerca-button"
                                ng-click="ctrl._reset_fields()">
                            <i class="fa fa-eraser" aria-hidden="true"></i> Reset
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group action-buttons-container">
                        <button class="btn btn-info" ng-click="ctrl.arretraDiba()">
                            <i class="fa fa-arrow-left"></i> Bozza
                        </button>
                        <button class="btn btn-info" ng-click="ctrl.avanzaDiba()">
                            <i class="fa fa-arrow-right"></i> Valutazione
                        </button>

                        <button class="btn btn-primary" ng-click="ctrl.salvaDiba()">
                            <i class="fa fa-floppy-o"></i> Salva
                        </button>
                        <button class="btn btn-secondary btn-estrai-diba" ng-click="ctrl.estraiDiba()">
                            <i class="fa fa-file-excel-o"></i> Estrai
                        </button>
                        <button class="btn btn-default" ng-click="ctrl.stampaDiba()">
                            <i class="fa fa-print"></i> Stampa
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
