<div ng-controller="GestFabbAreaRicercaController as gfARctrl">
    <uib-accordion>
        <div uib-accordion-group class="panel panel-default panel-collapse" is-open="gfARctrl.areaRicercaPanelIsopen">
            <uib-accordion-heading>
                Area di ricerca
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': gfARctrl.areaRicercaPanelIsopen, 'glyphicon-chevron-right': !gfARctrl.areaRicercaPanelIsopen}"></i>
            </uib-accordion-heading>
            <div class="panel-body search-params">
                <div class="row search-area">
                    <div class="form-group col-md-1">
                        <label for="id_richiesta">ID Richiesta Comm.</label>
                        <input type="number" min="0" ng-model="gfARctrl.id_richiesta" id="id_richiesta"
                               class="form-control" ng-enter="gfARctrl.cercaClick()">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="data_da">Data BP da</label>
                        <div class="input-group data-custom-input">
                            <input type="text" id="data_da" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                   ng-model="gfARctrl.data_da" is-open="popup1.opened" datepicker-options="dateOptions"
                                   ng-enter="gfARctrl.cercaClick()" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="data_a">Data BP a</label>
                        <p class="input-group data-custom-input">
                            <input type="text" id="data_a" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                   ng-model="gfARctrl.data_a" is-open="popup2.opened" datepicker-options="dateOptions"
                                   ng-enter="gfARctrl.cercaClick()" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i
                                        class="fa fa-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="num_bp">Numero BP</label>
                        <input type="number" min="0" ng-model="gfARctrl.num_bp" id="num_bp"
                               ng-enter="gfARctrl.cercaClick()" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="anno_stagione">Anno Stagione</label>
                        <select class="form-control" id="anno_stagione" name="anno_stagione" ng-model="gfARctrl.anno_stagione">
                            <option ng-repeat="ui_as in gfARctrl.ui_anni_stagione" value="{{ ui_as.id }}">{{
                                ui_as.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="collezione_orig">Collezione Orig</label>
                        <script type="text/ng-template" id="customTemplateCollezioneOrig.html">
                                <a>
                                    <span ng-bind-html="match.model.descrizione | uibTypeaheadHighlight:query"></span>
                                </a>
                            </script>

                            <input type="text" ng-model="gfARctrl.collezione_orig" id="collezione_orig" name="collezione_orig"
                                   uib-typeahead="collezione as collezione.value for collezione in getCollezioneOrig($viewValue)"
                                   typeahead-loading="loadingCollezioneOrig"
                                   class="form-control"
                                   ng-enter="gfARctrl.cercaClick()"
                                   typeahead-min-length="2"
                                   typeahead-wait-ms="500"
                                   typeahead-on-select="onSelectCollezioneOrig($item, $model, $label)"
                                   typeahead-template-url="customTemplateCollezioneOrig.html">
                            <i ng-show="loadingCollezioneOrig" class="fa fa-refresh"></i>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="collezione">Collezione DT</label>
                        <script type="text/ng-template" id="customTemplateCollezione.html">
                                <a>
                                    <span ng-bind-html="match.model.cmatset | uibTypeaheadHighlight:query"></span>
                                </a>
                            </script>

                            <input type="text" ng-model="gfARctrl.collezione" id="collezione" name="collezione"
                                   uib-typeahead="collezione as collezione.cmatset for collezione in getCollezione($viewValue)"
                                   typeahead-loading="loadingCollezione"
                                   class="form-control"
                                   ng-enter="gfARctrl.cercaClick()"
                                   typeahead-min-length="2"
                                   typeahead-wait-ms="500"
                                   typeahead-on-select="onSelectCollezione($item, $model, $label)"
                                   typeahead-template-url="customTemplateCollezione.html">
                            <i ng-show="loadingCollezione" class="fa fa-refresh"></i>
                            <span id='id_col' ng-model="gfARctrl.id_col" name='id_col' hidden="hidden" />
                    </div>
                    <div class="form-group col-md-1">
                        <label class="control-label" for="societa">Societa</label>
                        <select class="form-control" id="societa" name="societa" ng-model="gfARctrl.societa"
                        ng-blur="onBlurTessuto(gfARctrl.societa)">
                            <option ng-repeat="ui_as in gfARctrl.ui_societa" value="{{ ui_as.id }}">{{
                                ui_as.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="classe_orig">Classe</label>
                        <multiselect id="classe_orig" class="multiselect-classe" ng-model="gfARctrl.classe_orig"
                            options="classeOptions"
                            show-search="true">
                        </multiselect>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="modello">Modello</label>
                        <input type="text" ng-model="gfARctrl.modello" id="modello"
                               class="form-control" ng-enter="gfARctrl.cercaClick()">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="nome_modello">Nome</label>
                        <input type="text" ng-model="gfARctrl.nome_modello" id="nome_modello"
                               class="form-control" ng-enter="gfARctrl.cercaClick()">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="variante">Variante</label>
                        <input type="text" ng-model="gfARctrl.variante" id="variante"
                               class="form-control" ng-enter="gfARctrl.cercaClick()">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="articolo">Art. Tessuto</label>
                        <!--<tags-input type="text" ng-model="gfARctrl.articolo" id="articolo" ng-enter="gfARctrl.cercaClick()">-->
                        <!--</tags-input>-->
                        <tags-input class="bootstrap" id="articolo" ng-model="gfARctrl.articolo"
                                    placeholder="Art. separati da virgola"
                                    add-on-enter="false"
                                    add-on-space="true"
                                    ng-enter="gfARctrl.cercaClick()"
                                    replace-spaces-with-dashes="false">
                        </tags-input>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="articolo_descr">Tessuto Descr.</label>
                        <input type="text" ng-model="gfARctrl.articolo_descr" id="articolo_descr"
                            class="form-control" ng-enter="gfARctrl.cercaClick()">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="capocmat">Capocmat</label>
                        <div class="input-group multi-control-group">
                            <span class="input-group-addon capocmat-label">SOC</span>
                            <input ng-model="gfARctrl.capocmat_societa" ng-enter="gfARctrl.cercaClick()"
                                   type="text" class="form-control capocmat-input-fix">
                            <span class="input-group-addon capocmat-label">GM</span>
                            <input ng-model="gfARctrl.capocmat_gm" ng-enter="gfARctrl.cercaClick()"
                                   type="text" class="form-control capocmat-input-fix">
                            <span class="input-group-addon capocmat-label">AS</span>
                            <input ng-model="gfARctrl.capocmat_as" ng-enter="gfARctrl.cercaClick()"
                                   type="text" class="form-control capocmat-input-fix">
                            <span class="input-group-addon capocmat-label">ART</span>
                            <input ng-model="gfARctrl.capocmat_articolo" ng-enter="gfARctrl.cercaClick()"
                                   type="text" class="form-control capocmat-input-fix">
                            <span class="input-group-addon capocmat-label">MIS</span>
                            <input ng-model="gfARctrl.capocmat_misura" ng-enter="gfARctrl.cercaClick()"
                                   type="text" class="form-control capocmat-input-fix">
                            <span class="input-group-addon capocmat-label">COL</span>
                            <input ng-model="gfARctrl.capocmat_colore" ng-enter="gfARctrl.cercaClick()"
                                   type="text" class="form-control">
                        </div>
                    </div>
                   <div class="form-group col-md-2">
                        <label for="fam_gm">Fam.GM</label>
                        <input type="text" ng-model="gfARctrl.fam_gm" id="fam_gm"
                            class="form-control" ng-enter="gfARctrl.cercaClick()">
                    </div>
                     <div class="form-group col-md-1">
                        <label class="control-label" for="stato_diba">Stato DiBa</label>
                        <select class="form-control" id="stato_diba" name="stato_diba" ng-model="gfARctrl.stato_diba">
                            <option ng-repeat="ui_as in gfARctrl.ui_stato_diba" value="{{ ui_as.value }}">{{
                                ui_as.name }}
                            </option>
                        </select>
                    </div>
                     <div class="form-group col-md-1">
                        <label class="control-label" for="tipo_fabb">Tipo Fabb.</label>
                        <select class="form-control" id="tipo_fabb" name="tipo_fabb" ng-model="gfARctrl.tipo_fabb">
                            <option ng-repeat="ui_as in gfARctrl.ui_tipo_fabb" value="{{ ui_as.value }}">{{
                                ui_as.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="stato">Stato Fabb.</label>
                        <select class="form-control" id="stato" name="stato" ng-model="gfARctrl.stato">
                            <option ng-repeat="ui_as in gfARctrl.ui_stato" value="{{ ui_as.value }}">{{
                                ui_as.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-inline area-ricerca-buttons">
                    <hr>
                    <div class="form-group col-md-12">
                        <div class="col-md-6">
                            <label for="tipo_vista">Tipo Visuaizzazione</label>
                            <select class="form-control" id="tipo_vista" name="tipo_vista"
                                    ng-model="gfARctrl.tipo_vista" ng-change="gfARctrl.tipoVistaChange()">
                                <option ng-repeat="ui_vis in gfARctrl.ui_tipo_vis" value="{{ ui_vis.value }}">{{
                                    ui_vis.name }}
                                </option>
                            </select>
                            <button class="btn btn-primary ricerca-button" ng-click="gfARctrl.cercaClick()">
                                <i class="fa fa-search"></i> Cerca
                            </button>
                            <button class="btn btn-danger form-control reset-ricerca-button" ng-click="gfARctrl.resetRicercaFields()">
                                <i class="fa fa-eraser" aria-hidden="true"></i> Reset Ricerca
                            </button>
                        </div>
                        <!--<div class="col-md-2">-->
                            <!--<label class="control-label" style="color: white">R</label>-->
                            <!--<button class="btn btn-danger form-control reset-ricerca-button" ng-click="gfARctrl.resetRicercaFields()">-->
                                <!--<i class="fa fa-eraser" aria-hidden="true"></i> Reset Ricerca-->
                            <!--</button>-->
                        <!--</div>-->
                        <div class="col-md-6">
                            <button class="btn btn-default" ng-show="gfARctrl.tipo_vista == 'modello'" ng-click="apriStampaDiba()">
                                <i class="glyphicon glyphicon-print"></i> Stampa
                            </button>
                            <button class="btn btn-info" ng-show="gfARctrl.tipo_vista == 'modello'" ng-click="apriStudioPermanenti()">
                                <i class="glyphicon glyphicon-log-out"></i> Studio Permanenti
                            </button>
                            <button class="btn btn-warning" ng-show="gfARctrl.tipo_vista == 'modello'" ng-click="apriStudioDiba()">
                                <i class="glyphicon glyphicon-log-out"></i> Studio DiBa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>