<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Ricerca Giacenza</h4>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">

            <h3 class="panel-title">Area di Ricerca</h3>
        </div>
        <div class="panel-body search-params">
            <div class="row">
                <div class="form-group col-sm-1">
                    <label class="control-label" for="societa">Societa</label>
                    <select class="form-control" id="societa" name="societa" ng-model="dialog_cerca_giacenza_ctrl.societa">
                        <option ng-repeat="ui_as in dialog_cerca_giacenza_ctrl.ui_societa" value="{{ ui_as.id }}">{{
                            ui_as.id }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-1">
                    <label class="control-label" for="anno_stagione">AS Orig.</label>
                    <select class="form-control" id="anno_stagione" name="anno_stagione" ng-model="dialog_cerca_giacenza_ctrl.anno_stagione">
                        <option ng-repeat="ui_as in dialog_cerca_giacenza_ctrl.ui_anni_stagione" value="{{ ui_as.id }}">{{
                            ui_as.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-1">
                    <label for="fam_gm">Fam Gm</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.fam_gm" id="fam_gm"
                           class="form-control" disabled="disabled" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-1">
                    <label for="gm">Gm</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.gm" id="gm"
                           class="form-control" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-1">
                    <label for="articolo">Articolo</label>
                    <script type="text/ng-template" id="customTemplateArticoloModelli.html">
                        <a>
                            <span ng-bind-html="match.model.articolo | uibTypeaheadHighlight:query"></span>
                            <span ng-bind-html="match.model.descrizione_articolo"></span>
                        </a>
                    </script>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.articolo" id="articolo"
                           class="form-control"
                           uib-typeahead="articolo as articolo.articolo for articolo in getArtOrigModelli($viewValue)"
                           typeahead-loading="loadingArticolo"
                           class="form-control"
                           ng-enter="ricerca_giacenze()"
                           typeahead-min-length="1"
                           typeahead-wait-ms="100"
                           typeahead-on-select="onSelectArtOrigModelli($item, $model, $label)"
                           typeahead-template-url="customTemplateArticoloModelli.html">
                     <i ng-show="loadingArticolo" class="fa fa-refresh"></i>
                     <span hidden="hidden" ng-model="dialog_cerca_giacenza_ctrl.id_articolo" id="id_articolo" />
                </div>
                <div class="form-group col-sm-1">
                    <label for="misura">Misura</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.misura" id="misura"
                           class="form-control" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-2">
                    <label for="macrocolore">MacroCol</label>
                    <select class="form-control" id="macrocolore" name="macrocolore" ng-model="dialog_cerca_giacenza_ctrl.macrocolore">
                        <option ng-repeat="ui_as in dialog_cerca_giacenza_ctrl.ui_macrocolore" value="{{ ui_as.id }}">{{
                            ui_as.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <label for="colore">Colore</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.colore" id="colore"
                           class="form-control" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-2">
                    <label for="cmat">CMAT</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.cmat" id="cmat"
                           class="form-control" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-2">
                    <label for="col_fornitore_popover">Fornitore</label>
                    <script type="text/ng-template" id="customTemplateColFornitore.html">
                    <a>
                    <span ng-bind-html="match.model.fornitore | uibTypeaheadHighlight:query"></span> -
                    <span ng-bind-html="match.model.rag_soc_forn"></span>
                    </a>
                    </script>

                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.fornitore" id="col_fornitore_popover" name="col_fornitore_popover" class="form-control" ng-enter="ricerca_giacenze()"
                    uib-typeahead="row_fornitore as row_fornitore.conto for row_fornitore in getColFornitore($viewValue)"
                    typeahead-loading="loadingColFornitore" typeahead-min-length="1" typeahead-wait-ms="300"
                    typeahead-on-select="onSelectColFornitore(row.entity, $item, $model, $label)"
                    typeahead-template-url="customTemplateColFornitore.html" />
                    <i ng-show="loadingColFornitore" class="fa fa-refresh"></i>
                </div>
                <div class="form-group col-sm-2">
                    <label for="articolo_fornitore">Art. Fornitore</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.articolo_fornitore" id="articolo_fornitore"
                           class="form-control" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-2">
                    <label for="desc_colore_orig_col_forn">Col. Fornitore</label>
                    <input type="text" ng-model="dialog_cerca_giacenza_ctrl.desc_colore_orig_col_forn" id="desc_colore_orig_col_forn"
                           class="form-control" ng-enter="ricerca_giacenze()">
                </div>
                <div class="form-group col-sm-4">
                    <div class="col-sm-6">
                        <label for="flag_giacenza_dt">Solo Giac. DT</label>
                        <input type="checkbox" ng-model="dialog_cerca_giacenza_ctrl.flag_giacenza_dt" id="flag_giacenza_dt"
                               class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="flag_giacenza_soc">Solo Giac. SOC</label>
                        <input type="checkbox" ng-model="dialog_cerca_giacenza_ctrl.flag_giacenza_soc" id="flag_giacenza_soc"
                               class="form-control">
                     </div>
                </div>
                <div class="form-group col-sm-1">
                    <label class="control-label">Cerca</label>
                    <button class="btn btn-primary form-control" ng-click="ricerca_giacenze()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="form-group col-sm-1">
                    <label class="control-label">Reset</label>
                    <button class="btn btn-danger form-control reset-ricerca-button" ng-click="dialog_cerca_giacenza_ctrl._reset_fields()">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ui-grid="grigliaGiacenze"
        ui-grid-auto-resize
        ui-grid-resize-columns
        ui-grid-selection
        ui-grid-edit>
    </div>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn btn-default" ng-click="salvaRigheModelli()">Aggiungi Selezionati</button>-->
</div>


