<div ng-controller="StudioDibaCtrl">
    <div ng-include="'javascripts/facon/diba/studio_diba/sd_area_ricerca/sd_area_ricerca_main.html'"></div>
    <div ng-include="'javascripts/facon/diba/studio_diba/sd_area_risultati/sd_area_risultati_main.html'" ng-controller="AreaRisultatiController as ARstudio_diba""></div>
</div>
