<div class="panel panel-default modello-view">
    <div class="panel-heading">
        <h3 class="panel-title">Vista per Modello</h3>
    </div>
    <div class="panel-body search-params fixed-table-container">
        <div class="container-fluid">
            <div class="row" ng-controller="GestFabbVistaModelloController as VMctrl" ui-i18n="VMctrl.lang">
                <div ng-active-scroll
                    ui-grid="grigliaModelli"
                    ui-grid-auto-resize
                    ui-grid-resize-columns
                    ui-grid-selection
                    ui-grid-expandable
                    ui-grid-cellnav
                    class="myGrid">
                </div>
            </div>
        </div>
    </div>
</div>