<div class="modal-header" id="dialog_crea_ordini">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Impegno Ordini/Preordini</h4>
</div>
<div class="modal-body">
<h5>Si stanno per creare i seguenti ordini/preordini:</h5>
<div
    ui-grid="grigliaOrdini"
    ui-grid-edit
    ui-grid-expandable
    ui-grid-auto-resize
    ui-grid-resize-columns
    ui-grid-selection
    ng-style="getTableHeight()">
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="creaOrdini()">Crea Ordini</button>
</div>


