<div ng-cloak="" class="BlankApp">
    <md-content>
        <button id="expandAllButton" ng-show="false"
                uib-tooltip="Mostra Giacenza"
                tooltip-placement="left"
                ng-click="expandAllRows()"
                type="button" class="btn btn-warning">
            <i class="fa fa-arrow-circle-down"></i>
        </button>
        <input id="filtroTabella" type="text" class="form-control pull-right search-diba-input" placeholder="Filtra in Tabella"
               ng-change="filterData()" ng-model-options="{debounce: 500}" ng-model="ARstudio_diba.filterValue">
        <md-tabs md-dynamic-height="" md-border-bottom="" ui-i18n="ARstudio_diba.lang"
                 ng-model="selectedIndex" md-selected="selectedIndex">
            <!--<md-tab label="Tessuti">-->
            <md-tab label="Tessuti" ng-if="tipoStudio === 'diba'" md-on-select="cambiaIndiceTab(selectedIndex)">
                <md-content class="md-padding">
                    <div class="col-sm-12">

                        <div class="row">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="grigliaTessuti.loader">
                              <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
                            </div>
                            <div class="grid myGrid" id="grid_tessuti" ng-if="!grigliaTessuti.loader"
                                 ui-grid="grigliaTessuti"
                                 ui-grid-auto-resize
                                 ui-grid-resize-columns
                                 ui-grid-selection
                                 ui-grid-cellnav
                                 ui-grid-grouping
                                 ui-grid-edit
                            >
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <!--<md-tab label="Acc. a Modello" >-->
            <md-tab label="Acc. a Modello" ng-if="tipoStudio === 'diba'" md-on-select="cambiaIndiceTab(selectedIndex)">
                <md-content class="md-padding">
                    <div class="col-sm-12">
                        <div class="row">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="grigliaArtModello.loader">
                              <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
                            </div>
                            <div class="grid myGrid" id="grid_artModello" ng-if="!grigliaArtModello.loader"
                                 ui-grid="grigliaArtModello"
                                 ui-grid-auto-resize
                                 ui-grid-resize-columns
                                 ui-grid-selection
                                 ui-grid-cellnav
                                 ui-grid-grouping
                                 ui-grid-edit
                            >
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <!--<md-tab label="Acc. Permanenti">-->
            <md-tab label="Acc. Permanenti" md-on-select="cambiaIndiceTab(selectedIndex)">
                <md-content class="md-padding">
                    <div class="col-sm-12">
                        <div class="row">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="grigliaArtPermanenti.loader">
                              <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3"></md-progress-circular>
                            </div>
                            <div class="grid myGrid" id="grid_artPermanenti" ng-if="!grigliaArtModello.loader"
                                 ui-grid="grigliaArtPermanenti"
                                 ui-grid-auto-resize
                                 ui-grid-resize-columns
                                 ui-grid-selection
                                 ui-grid-cellnav
                                 ui-grid-grouping
                                 ui-grid-edit
                            >
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>