<div ng-include="'javascripts/facon/diba/gestione_fabbisogni/gf_area_ricerca/gf_area_ricerca.html'"></div>

<div ng-controller="GestioneFabbisogniCtrl as gfmCtrl">
    <div ng-show="gfmCtrl.tipoVista==gfmCtrl.TIPO_VISTA__MODELLO" ng-include="'javascripts/facon/diba/gestione_fabbisogni/gf_vista_modello/gf_vista_modello.html'"></div>
    <div ng-show="gfmCtrl.tipoVista==gfmCtrl.TIPO_VISTA__ARTICOLO" ng-include="'javascripts/facon/diba/gestione_fabbisogni/gf_vista_articolo/gf_vista_articolo.html'"></div>
</div>
