{% extends "base_page.html" %}

{% block head_title %}Gestione Impegni{% endblock %}

{% block app_css %}
{{ super() }}
<link rel="stylesheet" href="css/facon/diba/gestione_impegni.css?r={{ sid }}" />
{% endblock %}



{% block content %}
{{ super() }}


<page mtitle="Gestione Impegni">
    <div class="content" ng-include src="'javascripts/facon/diba/gestione_impegni/gestione_impegni_main.html'"></div>
</page>


{% endblock %}

{% block app_scripts %}
{{ super() }}
<script src="javascripts/facon/diba/gestione_impegni/module.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/constants.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_services/gf_ricerca.factory.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_services/gf_salva.factory.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_services/autocomplete-gf.factory.js?r={{ sid }}"></script>

<script src="javascripts/facon/diba/gestione_impegni/main.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/vista-cerca-giacenza/vista-cerca-giacenza.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/popup-fornitori.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/popover-colore-fornitori.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/popup-duplica.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/vista-crea-ordini/vista-crea-ordini.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_impegni/vista-disimpegna-articoli/vista-disimpegna-articoli.controller.js?r={{ sid }}"></script>
<script src="javascripts/commons/custom_page_layout/datepicker-ui-grid/ui-grid-edit-datepicker.js?r={{ sid }}"></script>
{% endblock %}