{% extends "base_page.html" %}

{% block head_title %}Gestione Fabbisogni{% endblock %}

{% block app_css %}
{{ super() }}
<link rel="stylesheet" href="vendors/angular-bootstrap-ng-tags-input/ng-tags-input.min.css"/>
<link rel="stylesheet" href="css/facon/diba/gestione_fabbisogni.css?r={{ sid }}" />
{% endblock %}



{% block content %}
{{ super() }}


<page mtitle="Gestione Fabbisogni">
    <div class="content" ng-include src="'javascripts/facon/diba/gestione_fabbisogni/gestione_fabbisogni_main.html'"></div>
</page>


{% endblock %}

{% block app_scripts %}
{{ super() }}
<script src="vendors/angular-bootstrap-ng-tags-input/ng-tags-input.min.js"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/module.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/constants.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_services/gf_ricerca.factory.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_services/autocomplete-gf.factory.js?r={{ sid }}"></script>

<script src="javascripts/facon/diba/gestione_fabbisogni/main.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_area_ricerca/gf_area_ricerca.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_vista_modello/gf_vista_modello.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/gestione_fabbisogni/gf_vista_articolo/gf_vista_articolo.controller.js?r={{ sid }}"></script>

{% endblock %}