{% extends "base_page.html" %}

{% block head_title %}Studio DiBa{% endblock %}

{% block app_css %}
{{ super() }}
<link rel="stylesheet" href="vendors/angular-bootstrap-ng-tags-input/ng-tags-input.min.css"/>
<link rel="stylesheet" href="css/facon/diba/studio_diba.css?r={{ sid }}" />
{% endblock %}



{% block content %}
{{ super() }}


<page mtitle="Studio DiBa">
    <div class="content" ng-include src="'javascripts/facon/diba/studio_diba/main.html'"></div>
</page>


{% endblock %}

{% block app_scripts %}
{{ super() }}
<script src="vendors/angular-bootstrap-ng-tags-input/ng-tags-input.min.js"></script>
<script src="javascripts/facon/diba/studio_diba/module.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/studio_diba/constants.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/studio_diba/services/sd_ricerca.factory.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/studio_diba/services/sd_get_dati.factory.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/studio_diba/services/sd_salva.factory.js?r={{ sid }}"></script>

<script src="javascripts/facon/diba/studio_diba/main.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/studio_diba/sd_area_ricerca/sd_area_ricerca.controller.js?r={{ sid }}"></script>
<script src="javascripts/facon/diba/studio_diba/sd_area_risultati/sd_area_risultati.controller.js?r={{ sid }}"></script>

{% endblock %}